doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title || 'Tafuta Books & Exams | Buy & Rent Books and Past Papers Online'}
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/style.css")
  body.has-mobile-nav
    .top-bar
      .top-bar-inner
        span 🇹🇿 Tanzania's marketplace for books &amp; past papers
        span.top-bar-right
          a(href="tel:+255700000000") 📞 +255 700 000 000
          a(href="https://wa.me/255700000000" target="_blank" rel="noopener") WhatsApp

    header.navbar
      .navbar-inner
        a.brand(href="/")
          span.brand-mark T
          span.brand-text Tafuta
            span.brand-text-accent  Books
        form.nav-search(action="/search" method="GET")
          input(type="text" name="q" placeholder="Search books, subjects, or past papers e.g. 'Form Four Physics 2023'")
          button(type="submit") <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
        nav.nav-links
          a(href="/books") Books
          a(href="/exams") Past Papers
          if user
            a(href="/library") My Library
            a.cart-link(href="/cart") 🛒 Cart
            if user.role === 'admin'
              a(href="/admin") Admin
            a#logoutBtn.nav-btn(href="#") Logout
          else
            a(href="/login") Login
            a.nav-btn(href="/register") Sign Up Free

    .level-strip
      .level-strip-inner
        a(href="/exams") All Levels
        each cat in (navExamCategories || [])
          a(href=`/exams?categoryId=${cat.id}`)= cat.name
        a(href="/books") Textbooks

    main.container
      block content

    a.whatsapp-float(href="https://wa.me/255700000000" target="_blank" rel="noopener" title="Chat with us on WhatsApp") 💬

    footer.footer
      .footer-inner
        .footer-col
          h4 Tafuta Books
          p Buy or rent textbooks and NECTA-style past papers online. Instant access after payment via M-Pesa or Mixx by Yas.
        .footer-col
          h4 Quick Links
          a(href="/books") Books
          a(href="/exams") Past Papers
          a(href="/register") Create Account
        .footer-col
          h4 Support
          a(href="tel:+255700000000") Call us
          a(href="https://wa.me/255700000000" target="_blank" rel="noopener") WhatsApp us
        .footer-col
          h4 We accept
          .payment-badges
            span.badge M-Pesa
            span.badge Mixx by Yas
      .footer-bottom
        p © #{new Date().getFullYear()} Tafuta Books &amp; Exams. Not affiliated with NECTA. All papers &amp; books are for study purposes.

    //- Mobile-only floating bottom navigation (hidden on desktop via CSS)
    nav.mobile-tabbar
      a.mobile-tab(href="/books" data-path="/books")
        span.mobile-tab-icon <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M560-564v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-600q-38 0-73 9.5T560-564Zm0 220v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-380q-38 0-73 9t-67 27Zm0-110v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-490q-38 0-73 9.5T560-454ZM260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z"/></svg>
        span.mobile-tab-label Books
      a.mobile-tab(href="/exams" data-path="/exams")
        span.mobile-tab-icon <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M360-600v-80h360v80H360Zm0 120v-80h360v80H360Zm120 320H200h280Zm0 80H240q-50 0-85-35t-35-85v-120h120v-560h600v361q-20-2-40.5 1.5T760-505v-295H320v480h240l-80 80H200v40q0 17 11.5 28.5T240-160h240v80Zm80 0v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
        span.mobile-tab-label Papers
      a.mobile-tab(href=user ? "/library" : "/login", data-path="/library")
        span.mobile-tab-icon <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-240 63-467l84-46 333 182 333-182 84 46-417 227Zm0 160L63-307l84-46 333 182 333-182 84 46L480-80Zm0-320L40-640l440-240 40 22v178h327l73 40-440 240Zm0-91 200-109H440v-167L207-640l273 149Zm-40-109Z"/></svg>
        span.mobile-tab-label Library
      a.mobile-tab(href=user ? "/cart" : "/login", data-path="/cart")
        span.mobile-tab-icon <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M280-160q-33 0-56.5-23.5T200-240q0-33 23.5-56.5T280-320q33 0 56.5 23.5T360-240q0 33-23.5 56.5T280-160Zm400 0q-33 0-56.5-23.5T600-240q0-33 23.5-56.5T680-320q33 0 56.5 23.5T760-240q0 33-23.5 56.5T680-160ZM200-400v-40h560v40H200Zm560-80H200v-40h560v40Zm0-80H200v-40h560v40Zm0-80H200v-40h560v40Z"/></svg>
        span.mobile-tab-label Cart
      if user
        button.mobile-tab#mobileAccountBtn(type="button")
          span.mobile-tab-icon <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-240q-33 0-56.5-23.5T400-320q0-33 23.5-56.5T480-400q33 0 56.5 23.5T560-320q0 33-23.5 56.5T480-240Zm0 160q-44 0-82-17t-67.5-46Q303-203 286-241t-17-82q0-44 17-82t46.5-67Q354-503 392-520t82-17q44 0 82 17t67.5 46Q657-503 674-465t17 82q0 44-17 82t-46.5 67Q606-203 568-186t-82 17ZM480-80q109 0 184.5-75.5T740-340H220q0 109 75.5 184.5T480-80Zm0-60q75 0 127.5-52.5T660-320H300q0 75 52.5 127.5T480-140Z"/></svg>
          span.mobile-tab-label Account
      else
        a.mobile-tab(href="/login" data-path="/login")
          span.mobile-tab-icon <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-240q-33 0-56.5-23.5T400-320q0-33 23.5-56.5T480-400q33 0 56.5 23.5T560-320q0 33-23.5 56.5T480-240Zm0 160q-44 0-82-17t-67.5-46Q303-203 286-241t-17-82q0-44 17-82t46.5-67Q354-503 392-520t82-17q44 0 82 17t67.5 46Q657-503 674-465t17 82q0 44-17 82t-46.5 67Q606-203 568-186t-82 17ZM480-80q109 0 184.5-75.5T740-340H220q0 109 75.5 184.5T480-80Zm0-60q75 0 127.5-52.5T660-320H300q0 75 52.5 127.5T480-140Z"/></svg>
          span.mobile-tab-label Login

    if user
      .mobile-account-sheet#mobileAccountSheet
        .mobile-account-sheet-inner
          p.mobile-account-name Hi, #{user.name.split(' ')[0]}
          a(href="/library") <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FB4C"><path d="M400-400h160v-80H400v80Zm0-120h320v-80H400v80Zm0-120h320v-80H400v80Zm-80 400q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z"/></svg> My Library
          a(href="/cart") <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5985E1"><path d="M223.5-103.5Q200-127 200-160t23.5-56.5Q247-240 280-240t56.5 23.5Q360-193 360-160t-23.5 56.5Q313-80 280-80t-56.5-23.5Zm400 0Q600-127 600-160t23.5-56.5Q647-240 680-240t56.5 23.5Q760-193 760-160t-23.5 56.5Q713-80 680-80t-56.5-23.5ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/></svg> Cart
          if user.role === 'admin'
            a(href="/admin")  Admin Panel
          a#mobileLogoutBtn(href="#") <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg> Logout
          button.mobile-account-close#mobileAccountClose(type="button") Close

    script(src="/js/main.js")
    block scripts
